<table>
  <tr>
    <% @images.each do |image| %>
      <td><%= image_tag image.attachment.large %></td>
    <% end %>
  </tr>
</table>

<table>
  <tr>
    <td><p><%= @report.post %></p></td>
    <td><p>@<%= @report.user.account_name %></p></td>
  </tr>
</table>

<%= render partial: "map", locals: { hash: @hash } %>
